.homepage-wrapper {
	height: 100vh;
	width: 100%;
	color: white;
}

.flex-container {
	padding-top: 20%;
}
.homepage-text > .hello {
	font-family: fantasy;
	font-size: 30px;
	padding-bottom: 30px;
	color: darkgoldenrod;
	width: 20%;
}

.surname {
	color: rgb(184, 135, 11);
}

.homepage-text > .name {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 70px;
	padding: 40px 0px;
	width : max-content;
}
.engineer {
	color: darkgoldenrod;
}
.homepage-text > .description {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 70px;
	padding: 40px 0px;
	width : max-content;
}

.flex-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.my-svg img {
	position : relative;
	height: -webkit-fill-available;
	left : 60px
	/* margin-right: 20%; */
}

.home-btn {
	max-width: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn1 > a > button {
	height: 60px;
	width: 135px;
	text-align: center;
	background-color: darkgoldenrod !important;
	border: 1px solid darkgoldenrod;
	border-radius: 30px;
	margin: 10px 10px;
	transition: 0.3s;
	outline: none;
}

.btn1 > a > button:hover {
	background-color: transparent !important;
	color: darkgoldenrod;
}

.btn2 > a > button {
	height: 60px;
	width: 130px;
	text-align: center;
	color: whitesmoke;
	background-color: transparent !important;
	border: 1px solid white;
	border-radius: 30px;
	margin: 10px 10px;
	transition: 0.3s;
	outline: none;
}

.btn2 > a > button:hover {
	color: darkgoldenrod;
	border: 1px solid darkgoldenrod;
}
