.nav-container {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 95%;
	background-color: rgba(0, 0, 0, 0.945);
	z-index: 1;
}

h3 {
	font-size: 50px;
	font-family: 'Satisfy', cursive;
	padding-top: 20px;
	cursor: pointer;
	color: rgb(255, 255, 255);
}

.nav-wrapper {
	display: flex;
	align-items: center;
	list-style: none;
	width: 800px;
}

.nav-wrapper a {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.3rem;
	text-align: center;
	margin: 0px 40px;
	cursor: pointer;
	height: 40px;
	letter-spacing: 1.4px;
	padding-top: 10px;
	transition: 0.3s;
	color: rgba(255, 255, 255, 0.973);
}

.nav-wrapper a::after {
	content: '';
	display: inline-block;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .4s ease, background-color .5s ease;
}
.nav-wrapper a:hover::after {
	width: 100%;
	background: darkgoldenrod;
}

.nav-container > .nav-wrapper .active {
	color: darkgoldenrod;
}
